/* //................Section Style............../// */

h1
{
  color: azure;
  text-align: center;
}

.link
{
  background: rgba(48, 31, 207, 0.76);
  width: 36%;
  border-radius: 10px;
  color: rgb(210, 232, 243);
margin-top: 20px;
font-size: 20px;
margin-left: 10px;
}
.link:hover
{
  color: rgb(12, 4, 4);
  background-color: rgba(160, 65, 49, 0.623);
}
.S1main_div {
  width: 100%;
  height: 300px;
  background: rgba(231, 243, 232, 0.3);
}

.S1inner_div {
  display: inline-block;
  margin-top: 50px;
}

/* /.............MAIN H1 tag........../  */
/* 
.S1inner_div h1{
    color: #7ca0658f;  
} 
.ml3 {
    font-weight: 900;
    font-size: 3.5em;
  }
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  } */



/* ...****** CITY CSS**... */

  .C1main_div {
    width: 100%;
    height: 350px;
    background: rgba(60, 230, 74, 0.3);
  }
 
  .C1inner_div {
    display: inline-block;
    margin-top: 50px;
  }
  .C1inner_div h1{
    color: aqua;
  }
  .cityNo{
    font-size: 100px;
    font-weight: bolder;
  }


  /* /........Admin css..// */

  .Admin_main_div
  {
    width: 100%;
    height: 500px;
   
  }
  .Admin_inner_div
  {
   display:inline-block ;
   margin-top: 50px;
   background: rgba(231, 243, 232, 0.3);
   padding: 40px;
  }

  /* /.......Form Css.../ */
  .label
  {
    font-size: 20px;
    color: rgb(255, 246, 246);
  }